<?php
$jdapData['host'] = 'ldap.somedomain.com';
$jdapData['port'] = NULL;
$jdapData['basedn'] = 'o=org';
$jdapData['user_attribute'] = "uid";
$jdapData['password_attribute'] = 'userPassword';
$jdapData['password_encryption'] = 'clear';
//possible values are: des, blowfish_crypt, md5_crypt, ext_crypt, md5, smd5, sha, ssha
$jdapData['sambapasswords'] = true;

$jdapMsg['connectFailed'] = "Kan geen verbinding maken met server";
$jdapMsg['login'] = "U bent ingelogd";
$jdapMsg['failedLogin'] = "Inloggen mislukt";
$jdapMsg['failedPw'] = "Uw nieuwe wachtwoord is niet geaccepteerd, probeer een ander wachtwoord";
$jdapMsg['failedCred'] = "Huidig wachtwoord of gebruikersnaam is incorrect";
$jdapMsg['failedModify'] = "De aanpassingen is niet geaccepteerd. Probeer nogmaals";
$jdapMsg['success'] = "Succesvol uitgevoerd";
$jdapMsg['failed'] = "Er is iets misgegaan, probeer het opnieuw";
$jdapMsg['nop'] = "Nothing to do";
?>
